<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDAnanas</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static "css/base.css" %}"/>
    <link rel="stylesheet" href="{% static "root_service/css/lclass-tree.css" %}"/>
    <link rel="stylesheet" href="{% static "root_service/css/modal.css" %}"/>
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="space">
        <div class="header">
            <div class="header-container">
                <a class="logo-container" href="/">
                    <img src="{% static "img/logo.png" %}" alt="mdananas" title="mdananas">
                    <span class="hidden sm:inline font-medium text-blue-500">MDANANAS</span>
                </a>
                <nav class="navbar">
                    <ul class="nav-links">
                    
                    <li class="dropdown">
                        <a class="nav-text">ROOT ▼</a>
                        <ul class="dropdown-menu">
                        <li><a class="nav-text" href="/root/ref_sku/"">SKU</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="nav-text">DOMESTIC ▼</a>
                        <ul class="dropdown-menu">
                        <li><a class="nav-text" href="/domestic/dm/"">DM</a></li>
                        <li><a class="nav-text" href="/domestic/av/"">AV</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="nav-text">EXPORT ▼</a>
                        <ul class="dropdown-menu">
                        <li><a class="nav-text" href="/export/kg/"">KG</a></li>
                        <li><a class="nav-text" href="/export/uz/"">UZ</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="nav-text">DATAPULL ▼</a>
                        <ul class="dropdown-menu">
                        <li><a class="nav-text" href="/datapull/root/"">ROOT</a></li>
                        </ul>
                    </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>