{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}ref_sku_page{% endblock %}

{% block content %}
    <div class="vertical-container">
        <div class="info-tab info-tab-vertical info-tab-scroll">
            <summary class="info-tab-label">
                <p>SKU PIVOT</p>
            </summary>
            <div class="info-tab-label-form info-tab-label-form-scroll">
                <table>
                    <thead>
                        <tr>
                            <th>Material</th>
                            <th>Xcode</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pivot_sku in existing_pivot_sku %}
                            <tr>
                                <td> {{ pivot_sku.material }} </td>
                                <td>
                                    <form class="auto-submit-form" method="post">
                                        {% csrf_token %}
                                        <input type="text" name="pivot_sku_id" id="pivot_sku_id" style="display: none;" value="{{pivot_sku.id}}">
                                        <input type="text" name="form_name" id="form_name" style="display: none;" value="pivot_sku">
                                        <select class="info-tab-label-form-field-input" style="width: 100px !important;" id="pivot_cu_select" name="root_cu">
                                            <option value="{{pivot_sku.root_cu.id|default_if_none:""}}" selected>{{pivot_sku.root_cu.xcode_cu}} | {{pivot_sku.root_cu.tus.first.desc.first.rus_description}}</option>
                                            {% for cu_with_desc in cus_with_desc %}
                                                {% if cu_with_desc.id != pivot_sku.root_cu.id %}
                                                    <option value="{{ cu_with_desc.id|default_if_none:"" }}">{{ cu_with_desc.xcode_cu }} | {{ cu_with_desc.rus_description }} </option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div style="width: 49% !important; justify-content: space-between !important;">
            <div style="display: flex; width: 100%; justify-content: space-between; flex-direction: row;">
                <div class="upload-tab">
                    <summary class="upload-tab-label">
                        <p>Sales</p>
                    </summary>
                    <div class="upload-tab-content">
                        <form method="post" enctype="multipart/form-data" id="sales-file-upload-form">
                            {% csrf_token %}
                            <input type="text" name="form_name" id="form_name" style="display: none;" value="Sales">
                            <input type="file" name="file" id="file-input" style="display: none;">
                            <label for="file-input" class="plus-upload-btn">
                                <span class="plus-icon" id="progress-percent">+</span>
                            </label>
                            <button type="submit" style="display: none;">Отправить</button>
                        </form>
                    </div>
                </div>
                <div class="upload-tab">
                    <summary class="info-tab-label">
                        <p>Sales</p>
                    </summary>
                    <div class="upload-tab-content">

                    </div>
                </div>
            </div>
            <div class="info-tab" style="width: 100% !important; min-height: 0 !important; height: 59% !important;">
                <summary class="info-tab-label">
                    <p>TU</p>
                    <button class="info-tab-label-form-save-btn" onclick="window.location.href='{% url 'tu_create' %}'">+New</button>
                </summary>
                <div class="info-tab-label-form info-tab-label-form-scroll">
                    <table>
                        <thead>
                            <tr>
                                <th>Xcode</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tu in existing_tu %}
                                <tr>
                                    <td> {{ tu.xcode_tu }} </td>
                                    <td> <a href="{% url 'show_tu' tu_id=tu.id %}" style="text-decoration: none;">&#9998;</a> </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>  
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/progress_indicators.js' %}"></script>
    <script src="{% static 'js/kg_pivot_sku_autosave.js' %}"></script>
{% endblock %}