{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}{% if is_create_mode %}Create MIX{% else %}Edit MIX{% endif %}{% endblock %}

{% block content %}
    <form action="{% if is_create_mode %}{% url 'mix_create_save' %}{% else %}save/{% endif %}" method="POST"> 
        {% csrf_token %}
        <details open class="info-tab">
            <summary class="info-tab-label">
                <p>Product info</p>
                <button class="info-tab-label-form-save-btn" type="submit">Save</button>
            </summary>
            <div class="info-tab-label-form">
                    <div class="info-tab-label-form-field">
                        <label for="xcode_mix">xcode</label>
                        <input class="info-tab-label-form-field-input" type="text" name="xcode_mix" value="{{mix.xcode_mix|default_if_none:""}}">
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="ean_mix">ean_mix</label>
                        <input class="info-tab-label-form-field-input" type="text" name="ean_mix" value="{{mix.ean_mix|default_if_none:""}}">
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="brand">brand</label>
                        <select class="info-tab-label-form-field-input" id="brand-field" name="brand">
                            <option value="{{mix.brand|default_if_none:""}}" selected>{{mix.brand|default_if_none:""}}</option>
                            {% for brand in existing_brands %}
                                {% if brand != mix.brand %}
                                    <option value="{{ brand }}">{{ brand|default_if_none:"" }}</option>
                                {% endif %}
                            {% endfor %}
                            <option value="new">Добавить новую...</option>
                        </select>
                        <input class="info-tab-label-form-field-input" type="text" name="brand" id="new-brand-field" style="display: none;" disabled>
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="category">category</label>
                        <select class="info-tab-label-form-field-input" id="category-field" name="category">
                            <option value="{{mix.category|default_if_none:""}}" selected>{{mix.category|default_if_none:""}}</option>
                            {% for category in existing_categories %}
                                {% if category != mix.category %}
                                    <option value="{{ category }}">{{ category }}</option>
                                {% endif %}
                            {% endfor %}
                            <option value="new">Добавить новую...</option>
                        </select>
                        <input class="info-tab-label-form-field-input" type="text" name="category" id="new-category-field" style="display: none;" disabled>
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="groupname">groupname</label>
                        <select class="info-tab-label-form-field-input" id="groupname-field" name="groupname">
                            <option value="{{mix.groupname|default_if_none:""}}" selected>{{mix.groupname|default_if_none:""}}</option>
                            {% for groupname in existing_groupnames %}
                                {% if groupname != mix.groupname %}
                                    <option value="{{ groupname }}">{{ groupname }}</option>
                                {% endif %}
                            {% endfor %}
                            <option value="new">Добавить новую...</option>
                        </select>
                        <input class="info-tab-label-form-field-input" type="text" name="groupname" id="new-groupname-field" style="display: none;" disabled>
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="status">status</label>
                        <select class="info-tab-label-form-field-input" id="status-field" name="status">
                            <option value="{{mix.status|default_if_none:""}}" selected>{{mix.status|default_if_none:""}}</option>
                            {% for status in existing_statuses %}
                                {% if status != mix.status %}
                                    <option value="{{ status }}">{{ status }}</option>
                                {% endif %}
                            {% endfor %}
                            <option value="new">Добавить новую...</option>
                        </select>
                        <input class="info-tab-label-form-field-input" type="text" name="status" id="new-status-field" style="display: none;" disabled>
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="mix_in_box">mix_in_box</label>
                        <input class="info-tab-label-form-field-input" type="text" name="mix_in_box" value="{{mix.mix_in_box|default_if_none:""}}">
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="root_pd">rus_definition</label>
                        <select class="info-tab-label-form-field-input" id="root_pd-field" name="root_pd">
                            <option value="{{mix.root_pd.id|default_if_none:""}}" selected>{{mix.root_pd.rus_definition|default_if_none:""}}</option>
                            <option value=""> </option>
                            {% for definition in definitions %}
                                {% if definition.id != mix.root_pd.id %}
                                    <option value="{{ definition.id }}">{{ definition.rus_definition }}</option>
                                {% endif %}
                            {% endfor %}
                            <option value="new">Добавить новую...</option>
                        </select>
                        <input class="info-tab-label-form-field-input" type="text" name="rus_definition" id="new-rus_definition-field" style="display: none;" disabled>
                    </div>
                    {% if not is_create_mode %}
                    <div class="info-tab-label-form-field">
                        <label for="cons_active">cons_active</label>
                        <input type="checkbox" id="cons_active" name ="cons_active" {% if is_cons_active %} checked {% endif %}>
                    </div>
                    {% endif %}
            </div>
        </details>
    </form>
    {% if not is_create_mode %}
    <details open class="info-tab">
            <summary class="info-tab-label">
                <p>LClassification</p>
            </summary>
            <div class="tree-view" id="classificationTree"></div>
    </details>
    <form action="save-dimensions/" method="POST"> 
        {% csrf_token %}
        <details open class="info-tab">
            <summary class="info-tab-label">
                <p>Product dimensions</p>
                <button class="info-tab-label-form-save-btn" type="submit">Save</button>
            </summary>
            <div class="info-tab-label-form">
                    <div class="info-tab-label-form-field">
                        <label for="length">length</label>
                        <input class="info-tab-label-form-field-input" type="text" id="length-field" name="length" value="{{dimensions.length|default_if_none:""}}">
                        <span class="input-addon">cm</span>
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="width">width</label>
                        <input class="info-tab-label-form-field-input" type="text" id="width-field" name="width" value="{{dimensions.width|default_if_none:""}}">
                        <span class="input-addon">cm</span>
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="height">height</label>
                        <input class="info-tab-label-form-field-input" type="text" id="height-field" name="height" value="{{dimensions.height|default_if_none:""}}">
                        <span class="input-addon">cm</span>
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="volume">volume</label>
                        <input class="info-tab-label-form-field-input input-inactive" type="text" name="volume" value="{{dimensions.volume|default_if_none:""}}">
                        <span class="input-addon">cm<sup style="font-size: 10px;">3</sup></span>
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="net_weight">net_weight</label>
                        <input class="info-tab-label-form-field-input" type="text" name="net_weight" value="{{dimensions.net_weight|default_if_none:""}}">
                        <span class="input-addon">kg</span>
                    </div>
            </div>
        </details>
    </form>
    <form action="save-logistics_info/" method="POST"> 
        {% csrf_token %}
        <details class="info-tab">
            <summary class="info-tab-label">
                <p>Logistics info</p>
                <button class="info-tab-label-form-save-btn" type="submit">Save</button>
            </summary>
            <div class="info-tab-label-form">
                    <div class="info-tab-label-form-field">
                        <label for="tu_per_layer">tu_per_layer</label>
                        <input class="info-tab-label-form-field-input" type="text" id="tu_per_layer-field" name="tu_per_layer" value="{{logistics_info.tu_per_layer|default_if_none:""}}">
                        <span class="input-addon">pcs</span>
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="layers_per_pal">layers_per_pal</label>
                        <input class="info-tab-label-form-field-input" type="text" id="layers_per_pal-field" name="layers_per_pal" value="{{logistics_info.layers_per_pal|default_if_none:""}}">
                        <span class="input-addon">pcs</span>
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="pal_per_truck">pal_per_truck</label>
                        <input class="info-tab-label-form-field-input" type="text" id="pal_per_truck-field" name="pal_per_truck" value="{{logistics_info.pal_per_truck|default_if_none:""}}">
                        <span class="input-addon">pcs</span>
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="gross_weight_pal">gross_weight_pal</label>
                        <input class="info-tab-label-form-field-input" type="text" name="gross_weight_pal" value="{{logistics_info.gross_weight_pal|default_if_none:""}}">
                        <span class="input-addon">kg</span>
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="gross_weight_tu">gross_weight_tu</label>
                        <input class="info-tab-label-form-field-input" type="text" name="gross_weight_tu" value="{{logistics_info.gross_weight_tu|default_if_none:""}}">
                        <span class="input-addon">kg</span>
                    </div>
            </div>
        </details>
    </form>
        <form action="save-descriptions/" method="POST"> 
        {% csrf_token %}
        <details class="info-tab">
            <summary class="info-tab-label">
                <p>Descriptions</p>
                <button class="info-tab-label-form-save-btn" type="submit">Save</button>
            </summary>
            <div class="info-tab-label-form vertical">
                <div class="info-tab-label-form-field long">
                    <label for="rus_description">rus_description</label>
                    <input class="info-tab-label-form-field-input" type="text" name="rus_description" value="{{descriptions.rus_description|default_if_none:""}}">
                </div>
                <div class="info-tab-label-form-field long">
                    <label for="eng_description">eng_description</label>
                    <input class="info-tab-label-form-field-input" type="text" name="eng_description" value="{{descriptions.eng_description|default_if_none:""}}">
                </div>
            </div>
        </details>
    </form>
    <form action="save-customs_info/" method="POST"> 
        {% csrf_token %}
        <details class="info-tab">
            <summary class="info-tab-label">
                <p>Customs info</p>
                <button class="info-tab-label-form-save-btn" type="submit">Save</button>
            </summary>
            <div class="info-tab-label-form">
                    <div class="info-tab-label-form-field">
                        <label for="customs_code">customs_code</label>
                        <input class="info-tab-label-form-field-input" type="text" name="customs_code" value="{{customs_info.customs_code|default_if_none:""}}">
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="duty">duty</label>
                        {%if customs_info.duty == 0%}
                        <input class="info-tab-label-form-field-input" type="text" name="duty" value='0'>
                        {% else %}
                        <input class="info-tab-label-form-field-input" type="text" name="duty" value="{{customs_info.duty|mul100|default_if_none:""}}">
                        {% endif %}
                        <span class="input-addon">%</span>
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="okpd2_code">okpd2_code</label>
                        <input class="info-tab-label-form-field-input" type="text" name="okpd2_code" value="{{customs_info.okpd2_code|default_if_none:""}}">
                    </div>
                    <div class="info-tab-label-form-field">
                        <label for="vat">vat</label>
                        <input class="info-tab-label-form-field-input" type="text" name="vat" value="{{customs_info.vat|mul100|default_if_none:""}}">
                        <span class="input-addon">%</span>
                    </div>
            </div>
        </details>
    </form>
    <form action="save-compositions/" method="POST"> 
        {% csrf_token %}
        <details open class="info-tab">
            <summary class="info-tab-label">
                <p>Mix composition</p>
                <button class="info-tab-label-form-save-btn" type="submit">Save</button>
            </summary>
            <div class="info-tab-label-form">
                <table id="components-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Cu</th>
                            <th>Количество</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in formset %}
                        <tr class="component-row">
                            <td>
                                <button type="button" class="remove-row-btn">Удалить</button>
                                {{ form.id }}
                                {{ form.DELETE.as_hidden }}
                            </td>
                            <td>{{ form.root_cu }}</td>
                            <td>{{ form.quantity }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {{ formset.management_form }}
            </div>
        </details>
    </form>
    {% endif %}
</body>
{% endblock %}

{% block scripts %}
{% csrf_token %}

    <!-- Передаём данные в JavaScript -->
    <script>
        // Глобальные переменные для JS
        window.TREE_DATA = {{ tree_data|safe }};
        window.CURRENT_SELECTION_ID = {{ mix.root_lclass.id|default:"null"}};
    </script>
    <script src="{% static 'root_service/js/lclass-tree.js' %}"></script>
    <script src="{% static 'js/mix_switches.js' %}"></script>
    <script src="{% static 'js/detail_btns.js' %}"></script>
    <script src="{% static 'js/table_row_addition.js' %}"></script>
{% endblock %}