.container {
    flex-direction: row !important;
}

.disabled {
    pointer-events: none;
}

.upload-container-half {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 1312px;
}

.vertical-pivots-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 80%;
    max-width: 1312px;
    padding-left: 35px;
    padding-right: 35px;
    height: 100%;
}

.l-200 {
    display: flex;
    flex-direction: row;
    width: 200px !important;
}

.w-50 {
    width: 49% !important;
}

.h-50 {
    height: 49% !important;
}

.h-75 {
    height: 75% !important;
}

.w-100 {
    width: 100% !important;
}

.l-100 {
    width: 100px !important;
}

.l-300 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 300px !important;
}


.l-30 {
    width: 100px !important;
    max-width: 100px !important;
    min-width: 100px !important;
}